<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Create a dictionary with pens as keys and the animals they contain as values.
# Dictionaries can be instantiated using braces.
stationary = {
    'pencils': 'blue',
    'pens': 'black',
    'markers': 'red'
}

In [5]:
# Selecting the `pens` key returns `black`, the value stored at that key.
stationary['pens']

'black'

In [6]:
# You cannot access a dictionary's values by name using bracket indexing
# because the computer interprets this as a key, not a value.
zoo['zebras']

KeyError: 'zebras'

In [9]:
# Dictionaries can also be instantiated using the dict() function.
zoo = dict(
    pen_1 = 'monkeys',
    pen_2 = 'giraffes',
    pen_3 = 'lions'
)

zoo['pen_3']

'lions'

In [12]:
# Another way to create a dictionary using the dict() function.
zoo = dict(
    [
        ['pen_1', 'monkeys'],
        ['pen_2', 'giraffes'],
        ['pen_3', 'lions']
        ]
)
zoo['pen_1']

'monkeys'

In [15]:
# Dictionaries are unordered and do not support numerical indexing.
zoo[2]

KeyError: 2

In [13]:
zoo['pen_4'] = 'tigers'
zoo

{'pen_1': 'monkeys', 'pen_2': 'giraffes', 'pen_3': 'lions', 'pen_4': 'tigers'}

In [16]:
# Use the `in` keyword to produce a Boolean of whether a given key exists in a dictionary.
print('pen_1' in zoo)
print('pen_4' in zoo)
print('pen_6' in zoo)

True
True
False

In [17]:
#                                                           Dictionary Methods

In [30]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [26]:
# Add new players to the list.
team1 = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [28]:
# Instantiate an empty dictionary.
new_team = {}
# Loop over the tuples in the list of players and unpack their values.
for name , age , position in team1:

    if position in new_team:                    # If position already a key in new_team,
      new_team[position].append((name , age))   # append (name, age) tup to list at that value
    else:                                       # If position not a key in new_team,
      new_team[position] = [(name , age)]       # create a new key whose value is a list
new_team                                        # containing (name, age) tup.

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [29]:
new_team['center']

[('Marta', 20), ('Sandra', 19)]

In [31]:
# You can access the a dictionary's keys by looping over them
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [32]:
# The keys() method returns the keys of a dictionary.
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [33]:
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [34]:
# The items() method returns both the keys and the values.
for a , b in new_team.items():
    print(a , b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

In [35]:
for a in new_team.values():
    print(a)

[('Marta', 20), ('Sandra', 19)]
[('Ana', 22), ('Mari', 18)]
[('Gabi', 22), ('Esme', 18)]
[('Luz', 21), ('Lin', 18)]
[('Lorena', 19), ('Sol', 19)]

In [36]:
for b in new_team.items():
    print(b)

('center', [('Marta', 20), ('Sandra', 19)])
('point guard', [('Ana', 22), ('Mari', 18)])
('shooting guard', [('Gabi', 22), ('Esme', 18)])
('power forward', [('Luz', 21), ('Lin', 18)])
('small forward', [('Lorena', 19), ('Sol', 19)])

In [37]:
for a in new_team.keys():
    print(a)

center
point guard
shooting guard
power forward
small forward