<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/For_loops_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for x in range(5):
    print(x)
    if x == 3:
        break

0
1
2
3

In [ ]:
product = 1

for n in range(1 , 10):
    product = product * n
print(product)

362880

In [ ]:
def to_celcius(x):
    return (x - 32) * 5/9
for x in range(0, 101, 10):
    print(to_celcius(x))

-17.77777777777778
-12.222222222222221
-6.666666666666667
-1.1111111111111112
4.444444444444445
10.0
15.555555555555555
21.11111111111111
26.666666666666668
32.22222222222222
37.77777777777778