<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def greeting(name):
  print("Hello " + name +" I")
  print("am excited to learn Python")


greeting("James")

Hello James I
am excited to learn Python

In [6]:
def triangle_area(height , base):
  area = height * base /2
  return area

In [8]:
print("Area of triangle is : ")
triangle_area(10,10)

Area of triangle is :

50.0

In [10]:
#we can compute two areas and then add them
triangle_a = triangle_area(12 , 13)
triangle_b = triangle_area(12 , 13)
total_sum = triangle_a + triangle_b
print(total_sum)

156.0

In [14]:
#here we made functions to add total seconds
def calculate_Second(hours , minutes , seconds):
  total_seconds = hours * 3600 + minutes * 60 + seconds
  return total_seconds

In [15]:
print("Total Seconds are : ")
calculate_Second(10,10,10)

Total Seconds are :

36610

In [19]:
def lucky_number(name):
  number = len(name)*5
  print("hello: " + name + " Your lucky number is : " + str(number))

In [22]:
lucky_number("Omer Khan")
lucky_number("Muhammad Umar")

hello: Omer Khan Your lucky number is : 45
hello: Muhammad Umar Your lucky number is : 65

In [23]:
# This code requests a number from the user and returns its factorial,
# printing each iteration of the multiplication.
a = input(); y = 1

for i in range(int(a)):
    y = y*(i+1)
    print(y)

5
1
2
6
24
120

In [24]:
#Function For factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [25]:
print("Your factorial is : ")
factorial(5)

Your factorial is :

120

In [26]:
# This function takes an integer as an input and returns its factorial.
def factorial(n):
    # Exclude 0 as product, start with 1
    y = 1
    for i in range(int(n)):
        y = y*(i+1)
    return y

# Enter a numerical value between 1-9 in the command line that appears.
input_num = input()
# Apply factorial function to an integer input
print(factorial(input_num))

6
720

In [27]:
def seed_calculator(fountain_side, grass_width):
    """
    Calculate number of kilograms of grass seed needed for
    a border around a square fountain.

        Parameters:
            fountain_side (num): length of 1 side of fountain in meters
            grass_width (num): width of grass border in meters

        Returns:
            seed (float): amount of seed (kg) needed for grass border
    """
    # Area of fountain
    fountain_area = fountain_side**2
    # Total area
    total_area = (fountain_side + 2 * grass_width)**2
    # Area of grass border
    grass_area = total_area - fountain_area
    # Amount of seed needed (35 g/sq.m)
    seed = grass_area * 35
    # Convert to kg
    seed = seed / 1000

    return seed

In [28]:
seed_calculator(10,5)

10.5

In [29]:
#Comparison Operator
print(10 > 5)
print(10 < 5)
print(10 == 5)
print(10 != 5)
print(10 >= 5)
print(10 <= 5)

True
False
False
True
True
False

In [30]:
print("Dog" == "Dog")
print("Dog" == "Cat")
print("Dog" != "Cat")

True
False
True

In [31]:
# Some operators cannot be used between different data types.
print(1 < "1")

TypeError: '<' not supported between instances of 'int' and 'str'

In [32]:
# Letters that occur earlier in the alphabet evaluate to less than letters from later in the alphabet.
# BOTH sides of an `and` statement must be true to return True.
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [33]:
# An `or` statement will return True if EITHER side evaluates to True.
print(25 > 50 or 1 != 2)

True

In [37]:
# `not` reverses Boolean evaluation of what follows it.
print( not 42 == "Answer")

True