<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'bar', 'foo', 'baz'}

In [2]:
# The set() function converts a tuple to a set.
x = (('foo', 'bar', 'baz', 'foo'))
print(set(x))

{'bar', 'foo', 'baz'}

In [3]:
# The set() function converts a string to a set.
x = set('foo')
print(x)

{'o', 'f'}

In [4]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

<class 'set'>
<class 'dict'>

In [5]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

{'foo'}

In [6]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))

{4, 5, 6}

In [7]:
# The union() method (|) returns all the elements from two sets, each represented once.
set1 = {2 , 3, 4 ,5 ,6 ,7 ,8 ,9}
set2 = {1, 2, 3, 10, 11, 12}
print(set1.union(set2))
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [8]:
# The difference() method (-) returns the elements in set1 that aren't in set2
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference(set2))
print(set1 - set2)

{1, 2, 3}
{1, 2, 3}

In [9]:
# ... and the elements in set2 that aren't in set1.
print(set2.difference(set1))
print(set2 - set1)

{8, 9, 7}
{8, 9, 7}

In [10]:
# The symmetric_difference() method (^) returns all the values from each set that
# are not in both sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1)
set2 ^ set1

{1, 2, 3, 7, 8, 9}

In [11]:
example_a = [1, 2, 2.0, '2']
set(example_a)

{1, 2, '2'}

In [12]:
example_b = ('apple', (1, 2, 2, 2, 3), 2)
set(example_b)

{(1, 2, 2, 2, 3), 2, 'apple'}

In [13]:
example_c = [1.5, {'a', 'b', 'c'}, 1.5]
set(example_c)

TypeError: unhashable type: 'set'

In [14]:
example_d = {'mother', 'hamster', 'father'}
example_d.add('elderberries')
example_d

{'elderberries', 'father', 'hamster', 'mother'}

In [15]:
example_e = [1.5, frozenset(['a', 'b', 'c']), 1.5]
set(example_e)

{1.5, frozenset({'a', 'b', 'c'})}