<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Tuples are instantiated with parentheses.
fullname = ('Masha', 'Z', 'Hopper')

# Tuples are immutable, so their elements cannot be overwritten.
fullname[2] = 'Copper'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [3]:
 #You can combine tuples using addition.
 #it will add at last
fullname = fullname + ('Jr',)
print(fullname)

('Masha', 'Z', 'Hopper', 'Jr')

In [4]:
# The tuple() function converts an object's data type to tuple.
fullname = ['Masha', 'Z', 'Hopper']
fullname = tuple(fullname)
print(fullname)

('Masha', 'Z', 'Hopper')

In [5]:
# Functions that return multiple values return them in a tuple.
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [6]:
# Functions that return multiple values return them in a tuple.
to_dollars_cents(6.55)

(6, 55)

In [7]:
# "Unpacking" a tuple allows a tuple's elements to be assigned to variables.
dollars, cents = to_dollars_cents(6.55)
print(dollars + 1)
print(cents + 1)

7
56

In [8]:
# The data type of an element of an unpacked tuple is not necessarily a tuple.
type(dollars)

int

In [9]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [('Umar' , 10 , 'center') ,
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),]

In [10]:
# Use a for loop to loop over the list, unpack the tuple at each iteration, and
# print one of the values.
for name , age , position in team:
    print(name)

Umar
Ana
Gabi
Luz
Lorena

In [11]:
print(team[0])

('Umar', 10, 'center')

In [12]:
print(team[1])

('Ana', 22, 'point guard')

In [14]:
print(age)

19

In [15]:
print(name)

Lorena

In [16]:
print(position)

small forward

In [17]:
for name , age , position in team:
    print(name , age , position)

Umar 10 center
Ana 22 point guard
Gabi 22 shooting guard
Luz 21 power forward
Lorena 19 small forward

In [18]:
print(position)

small forward

In [19]:
# This code produces the same result as the code in the cell above.
for player in team:
    print(player[0])

Umar
Ana
Gabi
Luz
Lorena