<a href="https://colab.research.google.com/github/muhammad-umar-9/Python-Codes/blob/main/Zip_enumerates_and_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cities = ['Paris', 'Lagos', 'Mumbai']
countries = ['France', 'Nigeria', 'India']
places = zip(cities, countries)


print(places)
print(list(places))

<zip object at 0x7d8ec0a34fc0>
[('Paris', 'France'), ('Lagos', 'Nigeria'), ('Mumbai', 'India')]

In [2]:
scientists = [('Nikola', 'Tesla'), ('Charles', 'Darwin'), ('Marie', 'Curie')]
given_names, surnames = zip(*scientists)
print(given_names)
print(surnames)

('Nikola', 'Charles', 'Marie')
('Tesla', 'Darwin', 'Curie')

In [3]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters):
   print(index, letter)

0 a
1 b
2 c

In [4]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters, 2):
   print(index, letter)

2 a
3 b
4 c

In [5]:
numbers = [1, 2, 3, 4, 5]
new_list = [x + 10 for x in numbers]
print(new_list)

[11, 12, 13, 14, 15]

In [6]:
words = ['Emotan', 'Amina', 'Ibeno', 'Sankwala']
new_list = [(word[0], word[-1]) for word in words if len(word) > 5]
print(new_list)

[('E', 'n'), ('S', 'a')]